.App .GetLink input {
    width: 400px;
    padding: 0.5rem;
    font-size: 1rem;
}

.App .GetLink .form {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    /* border: 1px solid red; */
}

.App .GetLink .form .confetti {
}

.App .GetLink .form .confetti input {
    display: inline;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
}

.App .GetLink .form textarea {
    width: 400px;
    height: 200px;
    font-size: 2rem;
    resize: none;
}

.App .GetLink .animated {
    display: block;
    position: fixed;
    border: 1px solid white;
    border-radius: 1rem;
    top: 40%;
    z-index: 10;
    padding: 4rem 6rem;
    background-color: rgba(0, 0, 0, 0.568);
}

.App .GetLink .animated h3 {
    color: rgb(255, 62, 168);
    margin: auto;
}

.App .GetLink .form .button {
    padding: 2rem 4rem;
    margin: 2rem;
    font-size: 2rem;
}

.App .GetLink .form .button.preview {
    padding: 1rem 3rem;
    background-color: rgb(219, 0, 117);
}

.App .backgroundImg {
    background: url(./img/cover.jpg) center center;
    background-size: cover;
}
